@import 'tailwindcss';

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

.section-header {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.section-heading {
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.section-heading::before {
  content: '';
  position: absolute;
  width: 5px;
  left: 5px;
  top: 2px;
  bottom: 2px;
  -webkit-transform: skew(-20deg);
  -khtml-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  transform: skew(-20deg);
  background-color: #dd3333;
}

/* Books section */
#books .slick-track {
  display: flex;
  gap: 20px;
}

#magazine-section .slick-track {
  display: flex;
  gap: 20px;
}
